/* Barra de navegação */

#logo {
  width: 150px;
}

#navbar-links a {
  color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
    padding: 0;
  }
  
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
  }
  
  #mainSlider .carousel-caption {
    top: 25%;
  }
  
  #mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  
  #mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 100px;
    color: #FFF;
  }
  
  .main-btn {
    background-color: rgba(0, 0, 0, 0.753);
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}
  
  /* Copy */
  
  #copy-area {
    background-color: #9e9e9e;
  }
  
  #copy-area .container {
    padding: 10px 0;
    text-align: center;
  }
  
  #copy-area .container p {
    margin-bottom: 0;
  }
  
  #copy-area .container a {
    font-weight: bold;
    color: #444;
  }
  
  #copy-area .container a:hover {
    text-decoration: none;
    color: #3EC1D5;
  }